@import url('https://fonts.googleapis.com/css?family=Courgette');
body#fondo{
    background-image:url("../img/fondo.png");
    background: white;
}

body#fondo2{
    background: white;
}

/* Permite que la barra de navegación se quede
   estatica en la parte superior al hacer scroll */
nav.sticky{
    position: sticky;
    position: -webkit-sticky;
    top:0;
}

nav ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: black;
    width: 100%;
}

nav li{
    display: inline;
    float: left;
    border-right: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}

nav li ul{
    display:none;
    position:absolute;
} 

nav li:hover > ul{
    display:inline-block;
    position: absolute;
    background:black;
}

nav li:last-child{
    /*border-right:  none;*/ /*  ¿como queda mejor? */
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav li a:hover{
    background-color: darkblue;
}

.active{
    background-color: lightblue;
}

.categories{
    display:grid;
    height:100vh;
    margin:6%;
    padding-top: 7%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40% 10% 10%; 
    grid-column-gap: 20px; /*separacion entre columnas*/
    grid-row-gap:40px; /*separacion entre filas*/
    align-content:center; /*centramos el contenido de cada celda*/

}

.category{
    background: lightskyblue/* white*/;
    padding:10px;
    text-align:center;
    border-radius:11%;
    font-family: 'Courgette', cursive;
    }

.category a{
    color:red;
    font-style: oblique;
    text-decoration:none;/*para quitarle la linea de los enlaces*/
}

.category img{
    /*Para que la imagen de la categoria se adapte al tamaño del grid*/
    max-width:100%;
    max-height:100%;
}

footer{
    font-family: fantasy;
    color:black;
    float: right;
    margin-bottom: 5px; 
}

form{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login{
    display:grid;
    grid-template-columns: 100%;
    margin: 15%;
    
}

form a{
    color: blue;
    font-style: italic;
    text-decoration: none;
    
}

.register{
    display:grid;
    grid-template-columns: 100%;
    margin: 15%;
}

.logo{
    
    display: block;
    margin: 0 auto;
    height: 30%;
    width: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
}